<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="/fonts/material-icon/css/material-design-iconic-font.css">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    <!-- Main css -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <div th:if="${param.SignUpSuccess}">
                            <div class="alert alert-success" role="alert">
                                Sign Up Successful! Please Sign In to Access the Platform
                            </div>
                        </div>
                        <h2 class="form-title">Sign up</h2>
                        <form method="POST" role="form" class="register-form" id="register-form" th:action="@{/SignUp}" th:object="${user}">
                            <div class="form-group">
                                <label for="fname"><i class="zmdi zmdi-account"></i></label>
                                <input th:field="*{fname}" type="text" name="fname" id="fname" placeholder="First Name" required pattern="[A-Za-z]+" title="Required. Alphabetic characters only" />
                            </div>
                            <div class="form-group">
                                <label for="lname"><i class="zmdi zmdi-account"></i></label>
                                <input th:field="*{lname}" type="text" name="lname" id="lname" placeholder="Last Lame" required pattern="[A-Za-z]+" title="Required. Alphabetic characters only"/>
                            </div>
                            <span th:if="${userexist}" style="color:red;">User exist!</span>
                            <div class="form-group">

                                <label for="nid"><i class="zmdi zmdi-account-box-mail"></i></label>
                                <input th:field="*{nid}" type="text" name="nid" id="nid" placeholder="National ID" required pattern="[0-9]{10}" title="Required. 10 Digit characters only"/>

                            </div>

                            <div class="form-group">
                                <label for="phone"><i class="zmdi zmdi-phone"></i></label>
                                <input th:field="*{phone}" type="text" name="phone" id="phone" placeholder="Phone Number" pattern="\+[0-9]{12}" title="Required. Valid phone number format: +966123456789"/>
                            </div>
                            <div class="form-group">
                                <label for="password"><i class="zmdi zmdi-lock"></i></label>
                                <input th:field="*{password}" type="password" name="password" id="password" placeholder="Password"
                                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
           title="Minimum 8 characters, at least one uppercase letter, one lowercase letter, one digit, and one special character"/>
                            </div>

                            <div class="form-group form-button">
                                <button type="submit" name="signup" id="signup" class="form-submit">Register</button>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="/images/signup-image.png" alt="sing up image"></figure>
                        <a th:href="@{/SignIn}" class="signup-image-link">I am already member</a>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>